services:
  _defaults:
    autowire: true
    autoconfigure: true
  _instanceof:
      Slcorp\FileBundle\UI\Http\Controller\UploaderControllerInterface:
          tags: [ 'slcorp.file.uploader_controller' ]

  Slcorp\FileBundle\:
    resource: '../../*'
    exclude: '../../{Resources,Tests,SlcorpFileBundle.php,Application/EventListener/ExampleFileUploadListener.php}'

  Slcorp\FileBundle\Application\Form\Type\UniversalFileType:
      tags:
          - { name: form.type }

    # Twig расширение для работы с файлами
  Slcorp\FileBundle\UI\Twig\FileUploadExtension:
      tags:
          - { name: twig.extension }

    #  Slcorp\FileBundle\Domain\Entity\FileRepositoryInterface:
    #    class: Slcorp\FileBundle\Infrastructure\Persistence\Repository\FileRepository

    # Контроллеры для загрузки файлов
  Slcorp\FileBundle\UI\Http\Controller\FineUploaderController:
    tags: [ 'slcorp.file.uploader_controller' ]

  Slcorp\FileBundle\UI\Http\Controller\DropzoneController:
      tags: [ 'slcorp.file.uploader_controller' ]

  Slcorp\FileBundle\UI\Http\Controller\JQueryFileUploadController:
    tags: [ 'slcorp.file.uploader_controller' ]

      #  Slcorp\FileBundle\UI\Http\Controller\PluploadController:
      #      arguments:
      #          $fileService: '@Slcorp\FileBundle\Application\Service\FileService'
      #          $entityManager: '@doctrine.orm.entity_manager'

      #  Slcorp\FileBundle\UI\Http\Controller\UploadifyController:
      #      arguments:
      #          $fileService: '@Slcorp\FileBundle\Application\Service\FileService'
      #          $entityManager: '@doctrine.orm.entity_manager'

      #  Slcorp\FileBundle\UI\Http\Controller\BluimpController:
      #      arguments:
      #          $fileService: '@Slcorp\FileBundle\Application\Service\FileService'
      #          $entityManager: '@doctrine.orm.entity_manager'

    # ServiceLocator для контроллеров
      #  slcorp_file.upload_controllers_locator:
      #      class: Symfony\Component\DependencyInjection\ServiceLocator
      #      arguments:
      #          -   'Slcorp\FileBundle\UI\Http\Controller\FineUploaderController': '@Slcorp\FileBundle\UI\Http\Controller\FineUploaderController'
      #              'Slcorp\FileBundle\UI\Http\Controller\DropzoneController': '@Slcorp\FileBundle\UI\Http\Controller\DropzoneController'
      #              'Slcorp\FileBundle\UI\Http\Controller\JQueryFileUploadController': '@Slcorp\FileBundle\UI\Http\Controller\JQueryFileUploadController'
      #              'Slcorp\FileBundle\UI\Http\Controller\PluploadController': '@Slcorp\FileBundle\UI\Http\Controller\PluploadController'
      #              'Slcorp\FileBundle\UI\Http\Controller\UploadifyController': '@Slcorp\FileBundle\UI\Http\Controller\UploadifyController'
      #              'Slcorp\FileBundle\UI\Http\Controller\BluimpController': '@Slcorp\FileBundle\UI\Http\Controller\BluimpController'
      #      tags:
      #          - { name: container.service_locator }

    # Фабрика контроллеров
  Slcorp\FileBundle\UI\Http\Controller\ControllerFactory:
      arguments:
          $controllers: !tagged_iterator slcorp.file.uploader_controller

